.content {
  margin-top: 20px;
}

/* Back to Top Button */
.back-to-top {
  position: fixed;
  bottom: 30px;
  left: 30px;
  background: #5b47e0;
  opacity: 0.7;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease-in-out;
}

.back-to-top:hover {
  background: #4734b8;
}
